@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* .slidebar{

    width: 256px;
    height: 120vh;
}
.slidebar nav{
    padding: 45px;
}
.slidebar nav li{
    list-style: none;
    font-size: 23px;
    padding: 33px 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
.slidebar nav li a{
    text-decoration: none;
    
} */
.main{
    /*background-color: yellow;*/
    width: 55vw;
    height: 100vh;
}
.container{
    display: flex;

}

.infocontainer{
    /*background-color: darkgreen;*/
    height: 58vh;
    width: 80vw;
    margin: 72px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}
.name{
    font-size: 55px;
    font-family: 'Source Code Pro', monospace;
}
.about{
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
}
.aboutmore{
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    margin-top: 23px;
}
.buttons{
    margin-top: 33px;
}

.buttons button{
    padding: 9px 14px;
    border-radius: 5px;
    color: wheat;
    background-color: rgb(143, 153, 173);
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
}
.buttons button:hover{
    transition: all 1s ease-in-out;
    transform: scale(0.8);
}
.devpic img{
    height: 58vh;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-gap: 2rem;
/* 
    display: flex;
    flex-wrap: wrap; */
}
.box{
    
    background-color: white;
    margin-left: 74px;
    margin-top: 22px;
    border-radius: 12px;
    box-shadow: 0px 1px 4px 1px rgb(192 187 187);
    
}
.box:first-child{
    
    grid-row: 1 /span 3;

}

.box:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 2px 4px 1px rgb(192 187 187);
}



.b1 h1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: blue;
    margin-top: 7px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b1 ul li{
    
    list-style: none;
    text-transform: capitalize;
    padding-left: 11px;
    margin: 2px 0;
    color: rgb(211, 133, 107);
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}


.star{
    float: right;
}



body{
    color: wheat;
}
